body {
    font-family: Arial, sans-serif;
    background-image: url('bg01.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}




.container {
    max-width: 400px;
    margin: 0 auto;
    background-image: url('bg.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(245, 244, 244);
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #f3f4fa;
    border-radius: 5px;
    outline: none;
}

button {
    width: 28%;
    background-image: url('add.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #777;
}
